<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Chart ?</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>
<body>
    <div id="container"></div>

    <script>
        _existing = {{ existing | safe }}
        _predicted = {{ predicted | safe }}
        _start = new Date("{{ start }}")
        _end = new Date("{{ end }}")

        console.log(_start)

        _start_str =
            ("0" + _start.getDate()).slice(-2) + "/" +
            ("0" + (_start.getMonth() + 1)).slice(-2) + "/" +
            _start.getFullYear()

        _end_str =
            ("0" + _end.getDate()).slice(-2) + "/" +
            ("0" + (_end.getMonth() + 1)).slice(-2) + "/" +
            _end.getFullYear()

        Highcharts.setOptions({
            lang: {
                decimalPoint: '.',
                thousandsSep: ' '
            }
        });

        Highcharts.chart('container', {
            chart: {
                zoomType: 'x'
            },
            title: {
                text: 'Cas de COVID-19 en France, entre le ' + _start_str + " et le " + _end_str
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    'Cliquez et glissez pour zoomer' : 'Pincez l\'écran pour zoomer'
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'Nombre de cas'
                }
            },
            legend: {
                enabled: true
            },
            tooltip : {
            	formatter : function() {
                    let str_y = this.y.toLocaleString("fr-FR")
                    let tooltip = Highcharts.dateFormat('%d/%m/%Y', new Date(this.x));
                    tooltip += '<br/><span style="color:' +
                        this.color + '">\u25CF</span> ' +
                        this.series.name + ' : ' +
                        '<b style="color:' + this.color + '">' + str_y + '</b>';
                    return tooltip;
              }
            },
            series: [{
                type: 'area',
                name: 'Nombre de positifs',
                data: _existing,
                pointInterval: 24 * 3600 * 1000,
                pointStart:"2020-06-20",
            },{
                type: 'area',
                name: 'Prédiction',
                data: _predicted,
                pointInterval: 24 * 3600 * 1000,
                pointStart:"2022-01-18",
                color: "#FF8600",
            }]
        });

        console.log(_existing)
        console.log(_predicted)
        _raw = {{ raw | safe }}
        console.log(_raw)
    </script>
</body>
</html>